/* Estilos generales del Navbar */
.navbar-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  background-color: #243774;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
.logout-button {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px 15px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #c0392b;
}
/* Botón Hamburguesa */
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}

/* Lista de enlaces */
.navbar-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

.navbar-links .nav-item {
  width: 100%;
  text-align: center;
}

.navbar-links .nav-link {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.navbar-links .nav-link:hover {
  background-color: #e7ba45;
}

/* Estilos para versión móvil */
@media (max-width: 768px) {
  .navbar-container {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar-container.open .navbar-links {
    display: flex;
  }
}
