.verify-code-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: #a642f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(241, 87, 255);
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.code-inputs input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #243774;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
}

.code-inputs input:focus {
  border-color: #E7BA45;
  box-shadow: 0 0 5px rgba(231, 186, 69, 0.5);
}